aws_region             = "eu-west-1"
environment            = "dev"
project_name           = "whatcommerce"
api_instance_type      = "t3.small"
bridge_instance_type   = "t3.medium"
db_instance_class      = "db.t4g.micro"
db_allocated_storage   = 20
enable_nat_gateway     = true
# key_name             = "my-keypair"
# ssh_cidr_blocks      = ["203.0.113.10/32"]
